@media screen and (max-width: 390px) {
  .container {
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
  }
  .guest {
    max-height: 34px;
    display: flex;
    background-color: #000000;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .guest > div {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .guest p,
  .guest a {
    font-size: 12px;
    color: #ffffff;
  }
  .guest img {
    max-width: 20px;
    max-height: 20px;
    right: 15px;
  }
  header {
    padding: 20px 16px;
  }
  .navigation {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-around;
  }
  .navigation img {
    width: 100%;
  }
  .navigation .only-mobile {
    display: block;
    max-width: 24px;
    max-height: 24px;
  }

  .logo {
    text-decoration: none;
    color: #0c0505;
    font-weight: 700;
    font-size: 32px;
  }
  .menu {
    display: none;
  }

  .menu img,
  .search-bar img,
  .icons img {
    width: 100%;
  }
  .search-bar {
    display: none;
  }
  .icons {
    display: flex;
    align-items: center;
    gap: 15px;
    overflow: hidden;
  }
  .icons img {
    max-width: 24px;
    max-height: 24px;
    cursor: pointer;
  }

  .banner {
    display: flex;
    flex-direction: column;
    background-color: #f2f0f1;
    background-image: none;
    max-height: 853px;
  }
  .banner .only-mobile {
    position: relative;
    display: block;
    width: 100%;
    height: 50%;
    max-height: 448px;
  }
  .banner img {
    bottom: -5px;
    width: 100%;
    position: relative;
  }
  .banner aside {
    padding: 30px 16px;
    width: 100%;
    height: 50%;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    max-height: 405px;
  }
  .banner aside button {
    width: 100%;
    border-radius: 62px;
    padding-top: 16px;
    padding-right: 54px;
    padding-bottom: 16px;
    padding-left: 54px;
    background-color: #000000;
    border: 1px solid #00000033;
    color: #ffffff;
  }
  .banner aside > div {
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
  }
  .banner aside > div .nowrap {
    width: 35%;
    max-height: 52px;
  }
  .banner aside > div .center {
    width: 100%;
    text-align: center;
    max-height: 48px;
  }
  .banner aside > div hr {
    width: 2px;
    border-right: 1px solid #0000001a;
  }
  .hidden-in-mobile {
    display: none;
  }
  .banner aside .bold {
    display: inline-block;
    font-weight: 700px;
    font-size: 32px;
    line-height: 32px;
    max-width: 315px;
  }
  .banner aside div span .bold {
    font-size: 24px;
    line-height: 0;
  }
  aside .normal {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.6;
  }
  .banner aside div span .normal {
    font-size: 12px;
    line-height: 20px;
  }
  .brand-bar {
    padding: 20px;
    width: 100%;
    max-height: 146px;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .brand-bar div {
    justify-content: center;
    max-height: 27px;
    width: 30%;
  }

  .brand-bar div img {
    width: 100%;
    object-fit: cover;
  }
  .brand-bar div .zara {
    margin-left: 20px;
    width: 63.81px;
    height: 26.65px;
  }
  section > .top {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    padding: 20px 0;
  }
  section > .bottom button {
    margin: 80px;
    text-align: center;
    width: 218px;
    height: 52px;
    gap: 12px;
    border: 1px solid #00000033;
    border-radius: 62px;
    border-width: 1px;
    padding-top: 16px;
    padding-right: 54px;
    padding-bottom: 16px;
    padding-left: 54px;
    background-color: #ffffff;
  }
  .new-arrivals {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px;
  }
  .product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .name-product {
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    width: 200.01px;
  }
  .star {
    display: flex;
    gap: 5px;
    margin-right: 15px;
  }
  .price {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
  }
  .price-old {
    letter-spacing: 0%;
    text-decoration: line-through;
    color: #00000066;
  }
  .sale {
    border-radius: 62px;
    background-color: #ff33331a;
    padding: 5px 10px;
    text-align: center;
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    color: #ff3333;
  }

  .top-selling {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px;
  }
  section .mid {
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow: auto;
    max-width: 390px;
  }
  .mid > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 80%;
  }
  .assess {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .assess img {
    max-width: 15.47px;
    max-height: 15.47px;
  }
  .max-score {
    opacity: 0.6;
  }
  .category {
    display: flex;
    align-items: center;
    margin: 0 20px;
    padding-top: 50px;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    flex-direction: column;
    gap: 10px;
    background-color: #f0f0f0;
    border-radius: 20px;

    text-align: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
    padding: 30px 5px;
  }
  .content .casual,
  .content .formal,
  .content .party,
  .content .gym {
    display: none;
  }
  .content .only-mobile {
    display: block;
    width: 310px;
    height: 190px;
    border-radius: 20px;
    background-color: #ffffff;
  }
  .content div img {
    width: 100%;
    height: 100%;

    border-radius: 20px;
  }
  .review {
    margin: 10px 16px;
  }
  .title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15px 0;
    justify-content: space-around;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
  }
  .navi {
    display: flex;
    gap: 25px;
    align-items: end;
  }
  .navi img {
    max-height: 24px;
    max-width: 24px;
    height: 50%;
  }
  #review-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow: hidden;
  }
  .ass-star {
    display: flex;
    gap: 5px;
    width: 19.19px;
    height: 19.19px;
  }
  .comment {
    display: none;
  }
  .comment:first-of-type {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid #0000001a;
    padding: 25px;
    max-width: 358px;
  }
  .comment-main {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .user {
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    gap: 10px;
  }
  .user img {
    height: 19px;
    width: 19px;
  }
  .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #00000099;
  }
  footer {
    background-color: #f0f0f0;
    padding: 20px;
    align-items: center;
    position: relative;
    margin-top: 250px;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #000000;
    z-index: 1;
    color: #ffffff;
    position: relative;
    border-radius: 20px;
    padding: 20px 20px;
    top: -140px;
    gap: 20px;
  }
  form {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .form div {
    width: 100%;
    height: 50%;
  }
  .form div p {
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
  }
  .form form span {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 60px;
    padding: 12px;
  }
  .form form button {
    border: 1px solid #00000033;
    border-radius: 60px;
    padding: 12px;
  }
  .form form span img {
    width: 20px;
    height: 16px;
    margin-right: 10px;
  }

  .form form span input {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    font-size: 14px;
  }
  .about {
    margin-top: -90px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: end;
    margin-bottom: 30px;
  }
  .about > div p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* margin-top: 10px; */
    color: #00000099;
  }
  .shop {
    display: flex;
    flex: 1;
    padding: 15px 0;
  }
  .shop p {
    width: 100%;
    padding: 15px 0;
  }
  .link img {
    width: 35%;
  }
  .orther {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    color: #00000099;
    gap: 10px;
  }
  .footer div {
    display: flex;
    justify-content: center;
  }
  .footer img {
    width: 85%;
  }
}
